.rob1{
    color: purple;
    text-align: center;
    text-decoration: underline rgb(43, 147, 72);
    text-shadow: 2px 2px 5px white;
    font-size: 15px;
}

.rob2{
    color: yellow;
    text-decoration: underline #a8dadc;
    text-shadow: 2px 2px 5px #a8dadc;
    font-size: 15px;
}

h3{
    text-align: center;
}

.andrea{
    text-align: center;
}
