@import "header2.css";
@import "main.css";

body{
    background-color: #370617;
    color: rgb(43, 147, 72);
    font-size: 12px;
    font-family: italic;
}


h6{
    text-align: center;
    font-family: cursive;
    color: #000000;
    text-decoration: underline rgb(43, 147, 72);
    text-shadow: 2px 2px 5px rgb(43, 147, 72);
    font-size: 14px;
}
a{
    color: orange;
    text-decoration: underline;
    text-shadow:  5px 5px 3px black;
}
.rob5{
    display: grid;
    width: 85vw;
    margin: 30px 50px 55px;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 55vh 55vh;
    grid-gap: 5px;
    grid-template-areas: "top top" "bottomLeft bottomRight";
    /*border: 10px solid blue;*/
    justify-content: flex-start;
}
.rob4{
    display: flex;
    text-align: justify;
    align-items: flex-start;
    justify-content: center;
    /*border: 5px solid red;*/
    padding: 30px 40px 55px 85px;
    font-size: 12px;
    font-style: oblique;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}
#one{
    grid-area: top;
}
#two{
    grid-area: bottomLeft;
}
#three{
    grid-area: bottomRight;
}

/*Medium Screen*/
@media (min-width: 400px) and (max-width: 800px) {
    body{
        background-color: red;
        font-style: normal;
        font-family: monospace;
        font-size: 13px;
        text-align: justify;
    }

    h1, h2, h3{
        color: #6a00f4;
        font-style: oblique;
        font-family: fantasy;
        font-size: 15px;

    }

    .rob5{
        background-color: white;
        color: #03071e;
        text-align: justify;
    }

    .rob4{
        text-align: justify;
        font-size: 8px;
    }
}

/*Large Screen*/
@media (min-width: 801px) {
    body{
        background-color: rgb(22, 105, 122);
        font-size: 13px;
        font-style: italic;
        font-family: sans-serif;
    }

    h1, h2, h3{
        color: #000000;
        font-size: 15px;
    }

    .rob5{
        background-color: #9e2a2b;
        color: #e2eafc;
    }

    .rob4{
        text-align: left;
        text-decoration: underline;
        text-transform: capitalize;
        text-decoration-color: black;
        text-decoration-style: double;
        font-size: 13px;

    }
}
